* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    background: url('./floresta\ temperada\ fundo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: #ce4e13;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3.75rem;
    position: relative;
    z-index: 1000;
  }
  
  .header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  flex: 1;
}

.header-center {
  flex: 2;
  justify-content: center;
}

.header-right {
  flex: 2;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.875rem;
}

.logo img {
  width: 1.75rem;
  margin-right: 0.625rem;
}

  
  .menu a {
    color: #CCCCCC;
    text-decoration: none;
    margin: 0 0.9375rem; 
    font-size: 0.9375rem; 
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  .login {
    color: white;
    text-decoration: none;
    font-size: 0.875rem; 
  }
  
  .login:hover {
    text-decoration: underline;
  }
  
  .quiz-container {
    width: 80%;
    max-width: 62.5rem; 
    margin: 7.5rem auto;
    background-color: rgba(30, 64, 47, 0.3);
    border-radius: 0.75rem; 
    padding: 3.125rem; 
    position: relative;
    text-align: center;
  }
  
  .quiz-header {
    display: flex;
    justify-content: center;
    color: #ffffff;
    align-items: center;
    margin-bottom: 1.5625rem; 
    font-weight: 600;
    position: relative;
  }
  
  .quiz-title {
    font-size: 2.3rem;
    text-align: center;
    font-weight: 400;
  }
  
  .quiz-progress {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .quiz-image {
    width: 50%;
    max-height: 62.5rem;
    object-fit: cover;
    margin-bottom: 0.9375rem;
    border: 0.25rem solid #fa871c;
    border-radius: 0.1875rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  }
  
  .quiz-question {
    background-color: #f38831;
    padding: 0.625rem;
    font-size: 1.4rem;
    margin-bottom: 0.9375rem;
    border-radius: 0.5rem;
    color: #FFFFFF;
  }
  
  .quiz-options {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; 
    margin-bottom: 1.5625rem; 
  }
  
  .option-btn {
    background-color: #f7fbea;
    border: none;
    padding: 0.75rem 0.9375rem; 
    font-size: 1.3rem;
    color: #014421;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option-btn:hover {
    background-color: #bccab5;
  }
  
  .quiz-dino {
    position: fixed;
    bottom: 1.25rem; 
    left: 1.25rem;   
    width: 15.625rem; 
    height: auto;
    z-index: 1000;
  }